body {
	background-color: #F0F0F0;
}
#index{
	text-align:center;
	margin:0 auto;
	position:absolute;
	top:40%;
	left:35%;
	font-family: "Microsoft YaHei";
	font-style:oblique;
	font-size:1.275em;;
}
canvas{
	display:block;margin-left: auto;margin-right: auto;
}